{% load static %}

<header>
    <nav>
        <input id="nav-toggle" type="checkbox">
        <div class="logo">
            <a href="/index">
                <img src="{% static 'authentication/public/assets/logo-letra.png' %}">
            </a>
        </div>
        <ul class="links">
            <li><a href="adoptar">ADOPTAR</a></li>
            <li><a href="dar_en_adopcion">DAR EN ADOPCIÓN</a></li>
            <li><a href="#">COMPRAR</a></li>
            {% if request.user.is_authenticated %}
                <li><div class="dropdown">
                    <button class="dropbtn"><img src="{% static 'authentication/public/assets/icon-person.png' %}" width="30px"> {{user.first_name}} </button>
                    <div class="dropdown-content">
                        <a href="/signout">Cerrar Sesión</a>
                    </div>
                </div></li>
            {% else %}
                <li><a href="signup"><button class="register"><b>REGISTRATE</b></button></a></li>
                <li><a href="signin" class="iniciar">INICIAR SESIÓN</a></li>
            {% endif%}
            
            <button type="button" class="btn py-0 px-0" >
                <img src="{% static 'authentication/public/assets/icon-carrito.png' %}" class="nav-link dropdown-toggle img-fluid d-inline-block align-top p-1" href="#"></img>
            </button>
        </ul>
        <label for="nav-toggle" class="icon-burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
    </nav>
</header>
