{% extends "authentication/base.html" %}

{% load static %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'authentication/css/signin_signup.css' %}">
{% endblock styles %}

{% block content %}
<body>
    <main>
        <div class="container-fluid">
            <div class="float-end m-4">
                <a href="/index" type="button" class="btn-close" aria-label="Close"></a>
            </div>
            <form action="/signup" method="POST">
            {% csrf_token %}
                <div class="container">
                    <div class="caja">
                        <h3 class="text-center fw-bold my-4">Regístrate</h3>
                        
                        <div class="text-center">
                            <p class="d-inline">¿Tienes un perfil?</p>
                            <a href="./signin"><p class="d-inline" style="color: #061437; font-weight: 600;">Iniciar Sesión</p></a> 
                        </div>
                        <div class="my-3">
                            <label for="exampleFormControlInput1" class="form-label">Nombre y Apellido</label>
                            <input type="text" class="form-control" name="names" id="fullName">
                        </div>
                        <div class="my-3">
                            <label for="exampleFormControlInput1" class="form-label">Correo Electrónico</label>
                            <input type="email" class="form-control" name="email" id="email">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" name="pass1" id="password">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">Repetir Contraseña</label>
                            <input type="password" class="form-control" name="pass2" id="password">
                        </div>
                        <div class="text-center my-4">
                            <input type="submit" class="btn px-4 py-2" name="submit" style="background-color: #FFEC4E; color: #061437;" value="CREAR UNA CUENTA">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>

</html>
{% endblock %}