{% extends "authentication/base.html" %}

{% load static %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'authentication/css/home.css' %}">
{% endblock styles %}

{% comment %} <img src="{{ MEDIA_URL }}images/myimage.png"/> {% endcomment %}

{% block content %}
<body>
    <main class="mt-5">
        <div class="container-fluid mt-5 pt-3 px-0 registratuMascota">
            <div class="row mx-0 img-fluid">
                <div class="col col-sm-5 px-0 mx-0">
                    <img src="{% static 'authentication/public/assets/adopcion.png' %}" height="100%">
                </div>
                <div class="col col-sm-7 px-0 mx-0">
                    <div class="container-fluid register">
                        <!-- FORM -->
                        <form action="/dar_en_adopcion" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="container pb-4 pt-5 px-5">
                                <h3 class="text-center">REGISTRA A TU MASCOTA</h3>
                            </div>
                            <div>
                                <div class="row mt-3 px-4">
                                    <div class="col">
                                        <label for="name" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" placeholder="Ingresar nombre de su mascota" name="name" id="name" value="max" required>
                                    </div>
                                    <div class="col">
                                        <label for="age" class="form-label">Edad</label>
                                        <input type="text" class="form-control" placeholder="Ingresar la edad aproximada" name="age" id="age" value="4" required>
                                    </div>
                                </div>
                                <div class="row mt-3 px-4">
                                    <div class="col">
                                        <label for="tamaño" class="form-label">Tamaño</label>
                                            <select class="form-select" name="size" id="size" value="Pequeño"required>
                                            <option>Pequeño</option>
                                            <option>Mediano</option>
                                            <option>Grande</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label for="sexo" class="form-label">Sexo</label>
                                        <select class="form-select" name="gender" id="gender" value="Macho"required>
                                        <option>Macho</option>
                                        <option>Hembra</option>
                                    </select>
                                    </div>
                                </div>
                                <div class="row mt-3 px-4">
                                    <div class="col">
                                        <label for="descripción" class="form-label">Descripción</label>
                                        <textarea class="form-control" name="description" id="description" rows="1">Gato</textarea>
                                        
                                    </div>
                                    <div class="col">
                                        <label for="archivo" class="form-label">Imagen</label>
                                        <input type="file" class="form-control" name="picture" id="picture">
                                    </div>
                                </div>
                            </div>
                            <h3 class="text-center my-4">AHORA TE TOCA A TÍ</h3>
                            <div class="row mt-3 px-4">
                                <div class="col">
                                    <label for="nameP" class="form-label">Nombre</label>
                                    <input type="text" class="form-control" placeholder="Ingrese su nombre" name="owner_name" value="Paula" id="owner_name">
                                </div>
                                <div class="col">
                                    <label for="lastName" class="form-label">Apellido</label>
                                    <input type="text" class="form-control" placeholder="Ingrese su apellido" name="owner_lastname" value="Rojas" id="owner_lastname">
                                </div>
                            </div>
                            <div class="row mt-3 px-4">
                                <div class="col">
                                    <label for="email" class="form-label">Correo Electrónico</label>
                                    <input type="email" class="form-control" placeholder="Ingrese su correo electrónico de contacto" name="owner_email" value="paula.rojas@gmail.com" id="owner_email">
                                </div>
                                <div class="col">
                                    <label for="contacto" class="form-label">Contacto (opcional)</label>
                                    <input type="text" class="form-control" placeholder="Ingrese su teléfono de contacto" name="owner_phonenumber" id="owner_phonenumber" value="987654321">
                                </div>
                            </div>
                            <div class="mb-5 mt-5 container text-center">
                                <input type="submit" class="btn px-5 py-3 fw-bold" name="submit" style="background-color: #FFFFFF; color: #061437;" value="CONTINUAR">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
{% endblock content %}