  <footer>
    {% load static %}
    <div class="content">
      <div class="left box">
          <div class="upper">
              <img class="" src="{% static 'authentication/public/assets/logo-white.png' %}" alt="" style="width: 40%;">
          <div class="pets">PET'S PAWS</div>
        </div>
      
      </div>
      <div class="middle box">
        <div class="topic">Nosotros</div>
        <div class="center" ><a href="#">¿Quienes somos?</a></div>
        <div class="center" ><a href="#">Misión y visión</a></div>
        <div class="center" ><a href="#">Nuestros Aliados</a></div>
      </div>
      <div class="right box">
        <div class="topic">Contactanos</div>
        <form class="center" action="#">
          <input type="text" placeholder="Enter email address">
          <input type="submit" name="" value="Send">
          <div class="media-icons">
            <a href="https://www.facebook.com"><img src="{% static 'authentication/public/assets/facebook.png' %}"></a>
            <a href="https://www.twitter.com"><img src="{% static 'authentication/public/assets/twitter.png' %}"></a>
            <a href="https://www.instagram.com"><img src="{% static 'authentication/public/assets/insta.png' %}"></a>
          </div>
        </form>
      </div>
    </div>
    <div class="bottom">
      <p>Copyright © 2022 <a href="/index">Pet Paws</a></p>
    </div>
  </footer>

</body>
</html>
